# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules

# Build and compilation files
dist
dist-ssr
*.class
*.exe
*.o
*.obj

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating system files
Thumbs.db
.AppleDouble
.LSOverride

# Temporary files
*.tmp
*.bak

# Miscellaneous
*.env
*.lock

# IDE and editor files
.eclipse
.netbeans
.intellij
.sublime-text
.atom